*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 200px;
    height: 200px;
    border: 4px solid black;
    margin: auto;
    margin-top: 10px;


}

.red{
    background-color: red;
    transform: scale(0.5);
}

.orange{
    background-color: orange;
    transform: scaleX(5);
    
}

.green{
    background-color: green;
    transform: scaleY(1);
}
.blue{
    background-color: blue;
    transform: skew(60deg);

}

.purple{
    background-color: purple;
    transform: skewX(60deg);
}

.black{
    background-color: black;
    transform: skewY(10deg);
}

.gainsboro{
    background-color: gainsboro;
    transform-origin: top;
}

.brown{
    background-color: brown;
    transform: rotate(45deg);
}

.pink{
    background-color: pink;
    transform: rotateX(45deg);
}

.coral{
    background-color: coral;
    transform: rotateY(45deg);
}

.yellow{
    background-color: yellow;
    transform: translateX(500px);
}

.silver{
    background-color: silver;
    transform: translateY(500px);
}

.bisque{
    background-color:bisque;

}