*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    
    display: flex;
    gap: 30px;
    margin-top: 30px;
    border: 5px solid black;
    width: 800px;
    height: 500px;
}

.box-1{
  
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 90px;
}

.img-1{
   
   
    width: 150px;
   
}


.box-2{
    /* display: inline-block; */
   /* margin-top: 80px;
   padding: 90px; */
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 90px;
}


.box-3{
    /* display: inline-block; */
   /* margin-top: 80px;
   padding: 90px; */
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 90px;
}